<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Simple from-data test</title>
</head>

<body>
    <p>This is a from-data test where x-jen-data-from loads data from a CSV file.</p>
    <ul>
        <x-jen-from-data src="./items.csv">
            <li>
                <article>
                    <h1>
                        <a alt="<%= title %>" href="<%=link %>">
                            <%= title %>
                        </a>
                    </h1>
                    <p>
                        <time><%= date %></time>
                        <span><%= summary %></span>
                    </p>
                </article>
            </li>
        </x-jen-from-data>
    </ul>
</body>

</html>